{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button"
            style="height:80px;background-color:#37434d;color:#ffffff;" <div class="container-fluid"><a
                class="navbar-brand" href="https://swoop.cf"><i class="fa fa-globe"></i>&nbsp;{{company_name}} Inc.</a><button
                data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                </ul>
            </div>
    </div>
    </nav>
    </div>
    <hr color="white">
    <hr color="white">

    <article></article>
    <section>
        <div class="container">
            <div class="photo-card">
                <div class="photo-background"
                    style="background-image:url(&quot;http://swoop-download.herokuapp.com/media/{{ app.Image }}&quot;);"></div>
                <div class="photo-details">
                    <h1>{{ app.Name }}</h1>
                    <p>{{ app.Description }}&nbsp; </p>
                    <div class="photo-tags">
                        <ul>
                            <li>FREE<a href="http://swoop-download.herokuapp.com/media/{{ app.Download }}">Download</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><a href="https://swoop.cf"><img src="{% static 'img/logo.svg' %}" width="80px" height="80px" alt="Swoop"></span></a></h3>
                <p class="company-name">{{ company_name }} Inc. © 2020 </p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">ATS DOLCE</span> Greater Noida, India</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">{{ company_email }}</a></p>
                </div>
            </div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p> Our Company focuses on creating apps that gives you performance</p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i
                            class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="{% static 'js/script.min.js' %}"></script>
</body>

</html>