{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Downloader</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
</head>

<body>
    <article></article>
    <section>
        <div class="container">
            <div class="photo-card">
                <div class="photo-background"
                    style="background-image:url(&quot;img/product-aeon-feature.jpg&quot;);"></div>
                <div class="photo-details">
                    <h1>Lorem ipsum</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sodales elementum mi non hendrerit.
                        Proin tempor facilisis felis nec ultrices. Duis nec ultrices neque. Proin semper ultricies
                        turpis, vel faucibus velit sodales vitae. Class aptent taciti sociosqu ad litora torquent per
                        conubia nostra, per inceptos himenaeos.&nbsp; </p>
                    <div class="photo-tags">
                        <ul>
                            <li>Item 1<a href="#">ver mais</a></li>
                            <li>Item 1<a href="#">Comprar </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="{% static 'js/script.min.js' %}"></script>
</body>

</html>