{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
	<link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
</head>

<body>
	<div>
		<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button"
			style="height:80px;background-color:#37434d;color:#ffffff;">
			<div class="container-fluid"><a class="navbar-brand" href="#"><i class="fa fa-globe"></i>&nbsp;{{ company_name }}
					Inc.</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
						class="visually-hidden">Toggle navigation</span><span
						class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse" id="navcol-1">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item"></li>
					</ul>
				</div>
			</div>
		</nav>
	</div><!-- Paradise Slider -->
	<div id="fw_al_001" class="carousel slide ps_slide_y ps_indicators_y swipe_y ps_easeOutQuint" data-ride="carousel"
		data-pause="hover" data-interval="5000" data-duration="2500">

		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#fw_al_001" data-slide-to="0" class="active"></li>
			<li data-target="#fw_al_001" data-slide-to="1"></li>
			<li data-target="#fw_al_001" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper For Slides -->
		<div class="carousel-inner" role="listbox">

			<!-- First Slide -->
			<div class="carousel-item active">

				<!-- Slide Background -->
				<img src="{% static 'img/car0.jpg' %}" alt="fw_al_001_01">

				<!-- Slide Text Layer -->
				<div class="fw_al_001_slide">
					<h3 data-animation="animated fadeInUp">Swoop Inc.</h3>
					<h1 data-animation="animated fadeInUp">Swoop The Browser</h1>
					<p data-animation="animated fadeInUp">Check it out 10X speed</p>
					<a href="#" data-animation="animated fadeInUp">Download</a>
				</div>
			</div>
			<!-- End of Slide -->

			<!-- Second Slide -->
			<div class="carousel-item">

				<!-- Slide Background -->
				<img src="{% static 'img/car1.jpg' %}" alt="fw_al_001_02">

				<!-- Slide Text Layer -->
				<div class="fw_al_001_slide">
					<h3 data-animation="animated fadeInUp">wrisus 2018</h3>
					<h1 data-animation="animated fadeInUp">dolor loborti eros</h1>
					<p data-animation="animated fadeInUp">lorem 2018, ipsum out of sapien, consequa</p>
					<a href="#" data-animation="animated fadeInUp">quamr rutrumt</a>
				</div>
			</div>
			<!-- End of Slide -->

			<!-- Third Slide -->
			<div class="carousel-item">

				<!-- Slide Background -->
				<img src="{% static 'img/car2.jpg' %}" alt="fw_al_001_03">

				<!-- Slide Text Layer -->
				<div class="fw_al_001_slide">
					<h3 data-animation="animated fadeInUp">wx erat</h3>
					<h1 data-animation="animated fadeInUp">Aliquamaeuhw</h1>
					<p data-animation="animated fadeInUp">lorem 2018, ipsum out of sapien, consequa</p>
					<a href="#" data-animation="animated fadeInUp">felis zw</a>
				</div>
			</div>
			<!-- End of Slide -->

		</div><!-- End of Wrapper For Slides -->

	</div> <!-- End Paradise Slider -->
	<!-- End -->
	<div class="container" id="apps">
		<div class="row">
			<div class="col-md-12">
				<div class="accordion" role="tablist" id="apps-accordion">
					<div class="accordion-item panel-apps">
						<div class="accordion-collapse collapse show item-1" role="tabpanel"
							data-bs-parent="#apps-accordion">
							<div class="accordion-body">
								<div class="text-center">
									<div class="row is-flex">
										{% for app in apps %}
										<div class="col-4 col-sm-3 col-md-2">
											<div class="app">
												<a href="#"><img src="./media/{{ app.Image }}" width="100" height="100">
													<span>{{ app.Name }}</span>
												</a>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="row">
				<div class="col-sm-6 col-md-4 footer-navigation">
					<h3><a href="#"><img src="" alt="Swoop"></span></a></h3>
					<p class="company-name">{{ company_name }} Inc. © 2020 </p>
				</div>
				<div class="col-sm-6 col-md-4 footer-contacts">
					<div><span class="fa fa-map-marker footer-contacts-icon"> </span>
						<p><span class="new-line-span">ATS DOLCE</span> Greater Noida, India</p>
					</div>
					<div><i class="fa fa-envelope footer-contacts-icon"></i>
						<p> <a href="#" target="_blank">{{ company_email }}</a></p>
					</div>
				</div>
				<div class="col-md-4 footer-about">
					<h4>About the company</h4>
					<p> Our Company focuses on creating apps that gives you performance</p>
					<div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
								class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a
							href="#"><i class="fa fa-github"></i></a></div>
				</div>
			</div>
		</footer>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js' %}"></script>
		<script src="{% static 'js/script.min.js' %}"></script>
</body>

</html>